#backTo {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  width: 64px;
  height: 64px;
  background-image: url(img/scrollToTop.png);
  background-repeat: no-repeat;
  background-size: 64px 64px;
  text-indent: -9999px;
  cursor: pointer;
  opacity: .6;
}

#backTo:hover {
  opacity: 1;
}
